@font-face {
   font-family: 'Soyuz Grotesk Bold';
   font-display: swap;
   src: url('file:///C:/Users/Ruuy/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-11-03_174740/fonts/Soyuz%20Grotesk%20Bold/font.woff');
}
